.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 75%;
    width: 75%;
}

.gridBox {
    display: flex;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.gridBoxHover {
    display: flex;
    width: 6.25%;
    height: 6.25%;
    background-color: black;
}

.newGrid {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}